$color-primary-dark: #513B56;
$color-primary: #525174;
$color-primary-light: #348AA7;

$color-darkest: #141316;
$color-darker: #1E1D20;
$color-dark: #28262B;

$color-lightest: rgba(#fff, 0.96);
$color-lighter: rgba(#fff, 0.67);
$color-light: rgba(#fff, 0.45);

$font-size-XS: 0.75rem; // 12px;
$font-size-S: 0.875rem; // 14px
$font-size-M: 1rem; // 16px
$font-size-L: 1.125rem; // 18px;
$font-size-XL: 1.25rem; // 20px;

$size-4: 0.25rem; // 4px
$size-8: 0.5rem; // 8px
$size-16: 1rem; // 16px
$size-24: 1.5rem; // 24px
$size-32: 2rem; // 32px