@import "~normalize.css/normalize.css";
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*, *:before, *:after {
  box-sizing: inherit;
}

body,
html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: $color-lightest;
  background-color: $color-darker;
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  height: 100%;
  box-sizing: border-box;
}

body {
   height: 100%;
}

h1 {
  font-size: $size-32;
  margin: 0 0 $size-16 0;
}

h2 {
  font-size: $size-24;
  margin: 0 0 $size-16 0;
}

h3 {
  font-size: $size-16;
  margin: 0 0 $size-16 0;
}